* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.button-container {
    position: relative;
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    overflow: hidden;
    transition: .5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.button-container button {
    width: 101%;
    height: 100%;
    font-family: "Monument Extended", sans-serif;
    font-size: 40px;
    background: #fff;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #000;
    cursor: pointer;
    animation: anim2 0.7s steps(22) forwards;
}